/build/
/out/
/vcpkg_installed/
/.cache/
/.DS_Store
*.sqlite
*.sqlite-shm
*.sqlite-wal
compile_commands.json
__pycache__/
*.pyc
/packaging/python/sherpa_cli/bin/*
!/packaging/python/sherpa_cli/bin/__init__.py
/packaging/python/sherpa_cli/LICENSE
/packaging/python/build/
/packaging/python/dist/
/packaging/python/*.egg-info/
